html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(37, 39, 44);
}

ul {
  list-style: none;
}

#hero {
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("https://blog.assets.thediscoverer.com/2019/03/Great-Smoky-Mountains-National-Park-Scenic-Sunrise.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  padding-top: 56.64%;
  align-items: center;
}

#mainTitle {
  margin-top: -38%;
  padding-bottom: 15%;
  color: white;
  text-align: center;
  font-size: 10vw;
}




a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0.3em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color: #3a3a3a48;
  text-align:center;
  transition: all 0.2s;
}
a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  a.button1 {
    display: block;
    margin :0.4em auto;
  }
}

#loginBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.beenBtn, .addBeen {
  /* float: right; */
  padding: 4.9px 26.6px;
}

.button2:visited {
  background-color: darkcyan;
}

#container {
  margin: 0;
  padding: 0;
}

/* try alternating left & right images with bootstrap grid? */
#container {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  border: 1px solid white;
  border-radius: 0;
  background-color: rgb(37, 39, 44);
}

.thumbnails {
  margin: 0;
  padding: 0;
}

.thumbnail h2, .thumbnail p {
  color: white;
  text-align: center;
  /* max-width: 875px; */
}

@media screen and (min-width: 480px) {
  .beenBtn, .addBeen {
    float: right;
  }
}

@media screen and (min-width: 890px) {
  .thumbnail p {
    padding: 0 20%;
  }
}